.group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  column-gap: 1rem;
  grid-auto-rows: 1fr;
}

.icons {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  row-gap: 0.3rem;
}

@media (max-width: 1200px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem 3%;
  }
}
